@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .test {
    border: 2px solid #6775f5;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  padding: 0.1rem; /* Default padding */
  overflow-x: hidden; 
}

/* Media query for devices with a minimum width of 768px (typical tablet size) */
@media (min-width: 768px) {
  body {
    padding: 5rem; /* Adjust the padding for tablets */
  }
}

/* Media query for devices with a minimum width of 1024px (typical desktop size) */
@media (min-width: 1024px) {
  body {
    padding: 7rem; /* Adjust the padding for desktops */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
